/* General Styling */

*,*::after,*::before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* Media Queries for General Styling */
@media (max-width: 422px) {
  .wider-margins {
    margin-left: -10%;
    margin-right: -10%;
  }
}

/* Styling for Navigation and Menu */

nav {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu-item{
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15em;
  color: rgb(90,90,90);
}

a.menu-item {
  color: rgb(90,90,90);
}

a.menu-item:hover, a.menu-item:focus, a.menu-item:after {
  color: #92A8D1;
  text-decoration: none;
  border-bottom: 3px solid #92A8D1;
  padding-bottom: 10px;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Styling for Mobile Navigation */
.mobile-nav {
  display: none;
}

.menu-button {
  display: block;
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: #92A8D1;
  font-weight: 400;
  letter-spacing: 0.15em;
  border: 2px solid #92A8D1;
  padding: 0.4em 1.5em;
  width: 100%;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-button:hover, .menu-button:focus {
  cursor: pointer;
}

.mobile-menu-items {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #92A8D1;
}

.mobile-menu-item{
  display: block;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15em;
  color: rgb(90,90,90);
  padding-top: 5px;
  padding-bottom: 5px;
}

a.mobile-menu-item {
  color: rgb(90,90,90);
}

.mobile-menu-items .nav-current {
  font-weight: 700;
}

/* Media Queries for Mobile Navigation */

@media (max-width: 576px) {
  .mobile-nav {
    display: block;
  }

  .primary-nav {
    display: none;
  }
}

/* Styling for the Headings and Text */

h1, h2, h3, h5 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 1.5rem;
  color: rgb(50,50,50);
}

h2{
  letter-spacing: 0.15em;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 0px;
  color: #92A8D1;
}

h2.thumbnail-title {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

h3 {
  font-size: 20px;
  letter-spacing: 0.1em;
}

h3.header-subtitle {
  font-size: 14px;
  text-align: center;
  color: #92A8D1;
}

h3.subtitle {
  font-size: 14px;
}

h3.thumbnail-subtitle {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-bottom: 1rem;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h4.short-project-description {
  font-family: 'Open Sans', sans-serif;
  /* font-size: 1rem; */
  color: white;
  font-size: 0.8rem;
  line-height: 1.3;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

h5 {
  font-weight: 700;
  letter-spacing: 0.15em;
  font-size: 16px;
}

h5.process-title {
  font-size: 20px;
  letter-spacing: 0.2em;
}

p {
  font-size: 15px;
}

.bold {
  font-weight: 700;
}

a, a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
}

p.process-analysis {
  line-height: 2;
}

/* Styling for Intext Links */

.intext-link {
  color: #92A8D1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.intext-link:hover, a.intext-link:focus {
  color: rgb(90,90,90);
  text-decoration: none;
}

/* Styling for Buttons */

.button {
  display: block;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: 0.15em;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.4em 1.5em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover, .button:focus {
  cursor: pointer;
  background-color: white;
  color: #92A8D1;
}

/* Media Queries for Buttons */

@media (max-width:1200px) {
  .button {
    font-size: 0.9rem;
  }
}

@media (max-width:1092px) {
  .button {
    font-size: 0.8rem;
  }
}

@media (max-width:980px) {
  .button {
    font-size: 0.7rem;
  }
}

/* Styling for Work page Projects */

.project {
  position: relative;
  background-color: #92A8D1;
  height: 13.5rem;
  width: 100%;
  margin-top: 1rem;
}

.project-images {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.project-thumbnail {
  height: auto;
  display: block;
  position: relative;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail-text {
  position: relative;
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.last-project {
  padding-bottom: 4rem;
}

/* Media Queries for Work page Projects */

@media (min-width:1623px) {
  .project-thumbnail {
    margin-top: -3rem;
    width: 75%;
  }
}

@media (max-width:1623px) {
  .project-thumbnail {
    margin-top: -3rem;
    width: 75%;
  }
}

@media (max-width:1510px) {
  .project-thumbnail {
    margin-top: -2rem;
    width: 80%;
  }
}

@media (max-width:1472px) {
  .project-thumbnail {
    width: 80%;
  }
}

@media (max-width:1472px) {
  .project-thumbnail {
    margin-top: -1.9rem;
    max-width: 80%;
  }
}

@media (max-width:1288px) {
  .project-thumbnail {
    margin-top: -0.7rem;
  }

  .project-thumbnail {
    width: 85%;
    margin-top: -1.6rem;
  }
}

@media (max-width:1274px) {
  .project {
    height: 17rem;
    margin-bottom: -2rem;

    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .project-thumbnail {
    padding-top: 2rem;
    width: 332px;
  }

  .button {
    margin-top: 2rem;
  }

  .thumbnail-text {
    padding-top: 2rem;
  }

  h2.thumbnail-title {
    padding-top: 2.5rem;
  }
}

@media (max-width:1200px) {
  .project-thumbnail {
    padding-top: 2.5rem;
    max-width: 80%;
  }
}

@media (max-width:1166px) {
  h2.thumbnail-title {
    font-size: 1.4rem;
  }
}

@media (max-width:1134px) {
  .project-thumbnail {
    padding-top: 2.8rem;
  }
}

@media (max-width:1003px) {
  .project-thumbnail {
    max-width: 256px;
  }
}

@media (max-width:914px) {
  h2.thumbnail-title {
    font-size: 1.2rem;
    padding-top: 2.9rem;
  }

  h2.gsc-title {
    padding-top: 2rem;
  }
}

@media (max-width:870px) {
  .project {
    height: 16rem;
  }

  .project-gsc {
    height: 17.5rem;
  }

  h2.thumbnail-title {
    padding-top: 1.7rem;
  }

  h4.short-project-description {
    font-size: 0.8rem;
  }
}

@media (max-width:855px) {
  .project {
    height: 15rem;
  }

  .project-gsc {
    height: 16.2rem;
  }

  h3.thumbnail-subtitle {
    padding-bottom: 0.5rem;
    font-size: 14px;
  }

  .button {
    margin-top: 1.5rem;
  }
}

@media (max-width:767px) {
  .left-text {
    order: 2;
  }

  .right-image {
    order: 1;
  }

  .project {
    margin-top: 0;
    height: 26.5rem;
  }
}

@media (max-width:525px) {
  .project {
    height: 27rem;
  }
}

@media (max-width:475px) {
  h2.thumbnail-title {
    font-size: 1.1rem;
  }
}

@media (max-width:435px) {
  .project {
    height: 28rem;
  }

  .project-gsc {
    height: 29.5rem;
  }
}

/* Styling for Project Pages  */

.project-image {
  max-width: 100%;
  height: auto;
}

.project-info {
  padding-top: 2em;
}

.project-description {
  padding-top: 2em;
  line-height: 2;
}

.project-section {
  padding-bottom: 5rem;
}

.persona-image {
  max-width: 100%;
  height: auto;
}

/* Media Queries for Project Pages */

@media (max-width:1199px) {
  .project-image{
    order: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .project-info {
    order: 2;
  }
}

@media (max-width:992px) {
  .project-image {
    order: 1;
  }

  .project-info {
    order: 2;
  }

  .img-spacing {
    padding-bottom: 2rem;
  }
}

/* Credit: How to embed Vimeo videos responsively: https://www.abeautifulsite.net/how-to-embed-youtubevimeo-videos-responsively */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe{
  border: 0px;
}

/* Styling for About Page */

.about-image {
  max-width: 100%;
  height: auto;
}

/* Media Queries for About Page */

@media (max-width:432px) {
  .about-content {
    padding-top: 20px;
    padding-bottom: 100px;
  }
}

/* Styling for Footer */
/* Credit: Footer Stick to Bottom of Page: https://codepen.io/cbracco/pen/zekgx */
footer {
  position: relative;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: auto;
  width: 100%;
}

footer.short-page {
  position: absolute;
}

.footer-contact {
  font-size: 13px;
  text-align: center;
}

a.footer-contact {
  text-decoration: none;
  color: #92A8D1;
}

a.footer-contact:hover, a.footer-contact:focus {
  color: rgb(90,90,90);
}

.footer-style {
  background-color: #92A8D1;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-link, .footer-link:hover, .footer-link:focus{
  text-decoration: none;
  color: white;
}
